FOUNDRY_PROJECT_ENDPOINT="your_project_endpoint"
AISEARCH_INDEX_NAME="products"
AISEARCH_ENDPOINT="your_search_endpoint"
AISEARCH_API_KEY="your_search_api_key"
CHAT_MODEL="gpt-4.1-mini"
EMBEDDINGS_MODEL="text-embedding-ada-002"
EVALUATION_MODEL="gpt-4.1-mini"
INTENT_MAPPING_MODEL="gpt-4.1-mini"
